.Order {
    width: 500px;
    border-radius: 10px;
    box-shadow: 0 2px 3px #212121;
    padding: 10px;
    margin: 10px auto;
    box-sizing: border-box;
    background-color: whitesmoke;
    display: block;
}
