.CheckoutSummary {
    text-align: center;
    width: 80%;
    margin: auto;
}
.CheckoutSummary h1 {
    background-color: whitesmoke;
    border-radius: 10px;
}

.CheckoutSummaryButtons {
    background-color: whitesmoke;
    border-radius: 10px;
}

@media (min-width: 600px) {
    .CheckoutSummary {
        width: 700px;
    }
}
